<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="customXmlConfigurationSection" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<customXmlConfigurationSection>
		<components>
			<component type="Calendar.Events.Meeting, Calendar">
				<properties>
					<property name="CanShareTime" value="false" />
				</properties>
			</component>
			<component type="Calendar.Events.Todo, Calendar">
				<properties>
					<property name="CanShareTime" value="true" />
				</properties>
			</component>
			<component type="Calendar.DataAccess.EventsRepository, Calendar" service="Calendar.Events.IEventsRepository, Calendar">
				<parameters>
					<parameter name="fileName" value="calendarData.dat" />
				</parameters>	
			</component>
		</components>
	</customXmlConfigurationSection>
</configuration>